
<h1>
  Projects by:
  <a href="https://github.com/<%=params[:user_name]%>">
    <%= params[:user_name] %>
  </a>
</h1>

<div class='center w-80'>
  <% if @repos.collect{ |r| r.image_url.blank? }.any? %>
    <p>Seeing cats? Don't worry, Sidekiq is working in the background to screen grab your work. Come back in a few. If you're still seeing cats, ensure your URLs are returning a 200 in a timely manner.</p>
  <% end %>
  <ul class="list left w-100">
    <% @repos.each do |repo| %>
      <% image_url = repo.image_url || "https://placekitten.com/800/450" %>
      <a href="<%= repo.url %>" target="_blank" class="no-underline">
        <li class="bg-washed-yellow ma2 ba b--dashed br3 pa2 grow">
          <h4><%= repo.name %></h4>
          <div class="pa1">
            <%= image_tag(image_url) %>
          </div>
          <div><%= repo.desc %></div>
        </li>
      </a>
    <% end %>
  </ul>
</div>
